a.logo{
	display:inline-block;
	background:url(../images/mo.png) no-repeat;
	background-size:32px 32px;
	height:32px;
    width:32px;
	float: left;
	margin-top: 5px;
}
.navbar .nav > li > a{
	padding: 5px 10px;
	margin-left: 2px;
	margin-right: 2px;
}
.navbar-inner {
	//background-image:-webkit-linear-gradient(top, #808080, #808080);
}